.firstContainer{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    margin: 0px 2px;
}
.searchBar{
    position: relative;
}
.searchStyle{
    position: absolute;
    top: 7px;
    padding: 0px 15px;
    color: grey;
}
.inputStyle{
    width: 120%;
    height: 30px;
    border: 1px solid grey;
    padding: 16px 40px;
    border-radius: 5px;
    font-size: 12px;
}
.topRightContainer{
    display: flex;
}
.notification{
    margin: 5px 30px 0px 0px;
}
.avatar{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
}